*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Console-*
*.lock
*.java.todo
*.secrfbkp
*.bkp
*.old
*.so
/bin/
/javadoc/
/.tmp/
/.jme3
*.cfg
output.graphml
/**/nohup.out
/.allScrEasyGrep/

!lib/**/*.jar
!.gitignore

